//- pug
ShowError(er='{$er}')
Add(on:click='{c.onNewClick}')
Table.table.table-border.row-border(data='{$data}' filters='{filters}' pageSize='{pageSize}' currentPage='{currentPage}' selectedClass='secondary')
  thead(slot='head')
    th Edit
    th Delete
    th Name
    th Users Count
  tbody(slot='body' let:displayData='{displayData}')
    +each('displayData as row')
      Tr({row})
        TdEdit(row='{row}' on:click='{c.onEditClick(row)}')
        TdDelete(on:click='{c.deleteClick(row)}')
        td {row.getName()}
        td {row.getUsersCount()}
Pagination({totalPages} bind:currentPage='{currentPage}')
//- pug_end
