//- pug
ShowError(er='{$er}')
Add(on:click='{c.onNewClick}')
Table.table.table-border.row-border(data='{$data}' filters='{filters}' pageSize='{pageSize}' currentPage='{currentPage}' selectedClass='secondary')
  thead(slot='head')
    th Edit
    th Name
    th Is Default
    th Active
    th Project
  tbody(slot='body' let:displayData='{displayData}')
    +each('displayData as row')
      Tr({row})
        td
          a(href='/admin/users/' + '{row.getUid()}') Edit
        td {row.getUid()}
        td {row.getName()}
        td {row.getIsDefault()}
        td {row.getActive()}
        td {row.getProject()}
Pagination({totalPages} bind:currentPage='{currentPage}')

//- pug_end
