//- pug
.m-3
  .row.mt-2
    +each('menu_data as m')
      +if('m.name != "Overview"')
        .cell-lg-3.cell-sm-6.mt-4
          a.icon-box(href="{m.path}")
            .icon.bg-cyan.fg-white
              span(class='{m.icon}')
            .content.p-4
              .text-upper {m.name}
              .text-upper.text-bold.text-lead 

//- pug_end
