.p-1.m-3
  br
  .row
    .cell-md-6.cell-lg-4.mt-2
      .info-box.success.pos-relative
        span.button.square.closer
        .info-box-content
          h3.mt-0 Information
          |                     Core version 1.0.0
