TitleBar(title='{title}' breadcrumbs='{breadcrumbs}')
+if('showForm')
  .m-3
    .row
      .bg-white.p-4.m-2
        Form(schema='{schema}' initialValues='{$initialValues}' on:submit='{c.handleSubmit}'  let:isSubmitting let:isValid)
          .row.mb-3
            .cell-md-12.d-none
              label Uid
              Input(type='text' name='uid' )
            .cell-md-6
              label Name
              Input(type='text' name='name' )
            //.cell-md-6
            //  label Position
            //  Input(type='number' name='position' )
            .cell-md-6
              label Assignable
              Input(type='checkbox' name='assignable' )
            //.cell-md-6
            //  label Permissions
            //  Input(type='number' name='permissions' )
          button.button.primary(type='submit' disabled='{isSubmitting || !isValid}') Submit
          button.button.secondary.ml-1(type='button' on:click='{c.goBack}') Cancel
          ShowError(er='{$er}')
