ShowError(er='{$er}')
Add(on:click='{c.onNewClick}')
Table.table.table-border.row-border(data!='{$data["index"] || []}' filters='{filters}' pageSize='{$pageSize}' currentPage='{$currentPage}' selectedClass='secondary')
  thead(slot='head')
    th Edit
    th Delete
    th Name
    th Position
    th Is In Roadmap
    th Is Milestone
    th Is Default
    th Is Standard
    th Color
    th Attribute Groups
    th Description
  tbody(slot='body' let:displayData='{displayData}')
    +each('displayData as row (row.getUid())')
      Tr(row='{row}')
        TdEdit(row='{row}' on:click='{c.onEditClick(row)}')
        TdDelete(on:click='{c.deleteClick(row)}')
        td {row.getName()}
        td {row.getPosition()}
        td {row.getIsInRoadmap()}
        td {row.getIsMilestone()}
        td {row.getIsDefault()}
        td {row.getIsStandard()}
        td {row.getColor()}
        td {row.getAttributeGroups()}
        td {row.getDescription()}
+if('!firstRun')
  Pagination(count='{$count}' totalPages='{$totalPages}' bind:currentPage='{$currentPage}' reFetch='{c.refetch(history)}' bind:maxPageLinks='{$pageSize}')
