TitleBar(title='{title}' breadcrumbs='{breadcrumbs}')
+if('showForm')
  .m-3
    .row
      .bg-white.p-4.m-2
        Form(schema='{schema}' initialValues='{$initialValues}' on:submit='{c.handleSubmit}'  let:isSubmitting let:isValid)
          .row.mb-3
            .cell-md-12.d-none
              label Uid
              Input(type='text' name='uid' )
            .cell-md-6
              label Project
              Input(type='text' name='project' )
            .cell-md-6
              label Title
              Input(type='text' name='title' )
            .cell-md-6
              label Summery
              Input(type='text' name='summery' )
            .cell-md-6
              label Description
              Input(type='text' name='description' )
            .cell-md-6
              label Author
              Input(type='text' name='author' )
            .cell-md-6
              label Comments Count
              Input(type='number' name='comments_count' )
            .cell-md-6
              label Created
              Input(type='datetime-local' name='created' )
            .cell-md-6
              label Updated
              Input(type='datetime-local' name='updated' )
          button.button.primary(type='submit' disabled='{isSubmitting || !isValid}') Submit
          button.button.secondary.ml-1(type='button' on:click='{c.goBack}') Cancel
          ShowError(er='{$er}')
