ShowError(er='{$er}')
Add(on:click='{c.onNewClick}')
Table.table.table-border.row-border(data!='{$data["index"] || []}' filters='{filters}' pageSize='{$pageSize}' currentPage='{$currentPage}' selectedClass='secondary')
  thead(slot='head')
    th Edit
    th Delete
    th Project
    th Title
    th Summery
    th Description
    th Author
    th Comments Count
    //th Created
    //th Updated
  tbody(slot='body' let:displayData='{displayData}')
    +each('displayData as row (row.getUid())')
      Tr(row='{row}')
        TdEdit(row='{row}' on:click='{c.onEditClick(row)}')
        TdDelete(on:click='{c.deleteClick(row)}')
        td {row.getProject()}
        td {row.getTitle()}
        td {row.getSummery()}
        td {row.getDescription()}
        td {row.getAuthor()}
        td {row.getCommentsCount()}
        //td {row.getCreated()}
        //td {row.getUpdated()}
+if('!firstRun')
  Pagination(count='{$count}' totalPages='{$totalPages}' bind:currentPage='{$currentPage}' reFetch='{c.refetch(history)}' bind:maxPageLinks='{$pageSize}')
