//- pug
Table.table.table-border.row-border({data} {filters} {pageSize} {currentPage} selectedClass='secondary')
  thead(slot='head')
    Th(sortKey='login' defaultsort='asc') login
    Th(sortKey='firstname' defaultsort='asc') First Name
  tbody(slot='body' let:displayData='{displayData}')
    +each('displayData as row (row.login)')
      Tr({row})
        td {row.login}
        td {row.firstname}
Pagination({totalPages} bind:currentPage='{currentPage}')

//- pug_end
